<div class="card">
    <div class="card-header" style="background-color:red;" >
        <h4><a class="link text-light" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
        <h6 class="mb-2 text-light">{{format_date date}} {{format_time date}}</h6>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</div>