<div>
  <section class='container'>
    <p>scenario texts</p>
    <form id='story-choice'>
      <input
        type='button'
        class='btn btn-primary next-choice'
        value='{{story.Option1}}'
        data-story-id='{{story_id}}'
      />
      <input
        type='button'
        class='btn btn-primary next-choice'
        value='{{story.Option2}}'
      />
      {{! !the value and story_line are not passing through correctly }}
      <div><button type='submit'>Continue</button>
        <button
          id='save-story'
          {{! if the storyline has just started, then set the data-id to 1 }}
          data-id='{{story_line}}'
          data-story-id='{{id}}'
          data-story-title='{{title}}'
          data-story-choice-set='{{story_id}}'
        >'Save Progress (and Exit?)!'</button></div>
    </form>
  </section>
  <form>

  </form>
</div>
<script src='/js/storyhandling.js'></script>