<div>
  <section class='container'>
    <p>scenario texts</p>
    
      <a
        {{!-- type='button' --}}
        class='btn btn-primary next-choice'
        href='/story/'
        {{!-- value='' --}}
            {{#if story_id}}
       data-story-id='{{story_id}}'
      {{else}}
      data-id='1'
      {{/if}}
      >{{Option1}}</a>
      <a type='button' class='btn btn-primary next-choice' value='' data-id='{{story.story_line}}'>{{Option2}}</a>
      {{!-- !the value and story_line are not passing through correctly --}}
    </form>
  </section>
  <form>
    <button
      id='save-story'
      {{!-- if the storyline has just started, then set the data-id to 1 --}}
     
      {{#if story_id}}
       data-story-id='{{story_id}}'
       
      {{else}}
      data-id='1'
      data-story-title='{{title}}'
      {{/if}}
    >'Save Progress!'</button>
  </form>
</div>
<script src='/js/storyhandling.js'></script>